@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
html, body {
    font-family: 'Josefin Sans', sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    position: relative;
    padding-bottom: 220px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

p {
    line-height: 25px;
    padding: 5px;
    padding-left: 18px;
}

.header {
    background-color:  #282828;
    color: white;
    padding: 10px;
    padding-left: 25px;
    font-size: 1.7em;
}

.menu {
    background-color: #282828;
    padding: 10px;
    padding-left: 30px;
    position: relative;
}

.menu .item {
    display: inline-block;
    border-bottom: 3px solid transparent;
    color: rgba(255,255,255,.5);
    padding: 7px;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}

.menu .active.item, .menu .item:hover {
    color: white;
}

.menu .right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.search.item {
    display: none;
    border-bottom: 2px solid white;
    color: white;
    padding: 5px;
}

.search.item input {
    border: none;
    outline: none;
    padding: 2px;
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    color: white;
    width: 0;
    transition: 1s;
}

.search.item .submit {
    color:  white;
}

.search-toggle.item {
    cursor: pointer;
}

.container {
    margin: auto;
    max-width: 720px;
}

.footer {
    padding: 15px;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100px;
    background-color: #282828;
}


.timeline .item {
    list-style: none;
    border-left: 2px dashed red;
    position: relative;
    padding: 15px;
    border-bottom: 0.5px solid rgba(255, 0, 0, 0.3);
}

.timeline .item:last-child {
    border-bottom: none;
}


.timeline .year {
    color: black;
    font-size: 17px;
    position: relative;
    padding: 3px;
    background-color: white;
    height: 22px;
    position: absolute;
    transform: rotate(-90deg);
    left: -24px;
    top: 30px;  
    /* border: 2px solid #21ba45;
    border-radius: 3px; */
}

.reflinks a {
    color: red;
    font-family: monospace;
    font-size: 0.8em;
    text-decoration: underline;
}
.cite {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}

.disabled {
    color:  grey;
}

cite {
    font-style: normal;
    color: red;
}

.ref {
    font-size: 1.2em;
}
.ref .column:first-child {
    color: red
}

.ui.post.segment {
    max-width: 60em!important;
}
.ui.post.segment p {
    line-height: 1.6em;
    font-size: 1.3em;
    text-align: justify;
}

.main.content {
    min-height: 100vh;
}

.mobile {
    display: none!important;
}

.masthead .follow.icon {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
}
.masthead .follow.icon:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.brand {
    font-weight: bold!important;
    font-size: 18px;
}
p {
    font-size: 1.2em;
}

#bio {
    font-family: 'Source Code Pro', monospace!important;
    font-size: 18px;
}
#bio::after {
    content: "";
    margin-left: 5px;
    border: 3px solid rgba(0,255,0,0.95);
    animation: animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-cursor{
  from{border-color: rgba(0,255,0,.95);}
  to{border-color: transparent;}
}

a.styled {
    margin: 2px;
    border-radius: 3px;
    padding: 2px;
    display: inline-block;
    color: #21ba45;
    border-width: 0;
}

a.styled::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #21ba45;
    transition: width 0.3s;
}

a.styled:hover::after {
    width: 100%;
    
}

p.post {
    font-size: 32px;
}

@media only screen and (max-width: 700px) {
    .laptop {
	display: none!important;
    }
    .mobile {
	display: block!important;
    }
}
