---
title: Blog
layout: home
---
<h1 style="text-align: center;">{% t global.blog %}</h1>

<div class="flex-container">    
    <div style="flex: 1;flex-grow: 3">
      {% for post in site.posts %}
      <div class="card">
	<a href="{{ post.url }}">
	  <div class="title">  
	    <u><span style="color: #C70039;">&sect;</span>{{ post.title }}</u>
	  </div>
	</a>
	<span style="color:gray">{{ post.date | date: "%B %d, %Y"}}</span>

	{% if post.topic %}
	&nbsp;&nbsp;&verbar;&nbsp;&nbsp;
	<a class="button">{{ post.topic }}</a>
	{% endif %}
	<br><br>
	{% for tag in post.tags %}
	<a class="tag">#{{ tag }}</a>
	{% endfor %}
      </div>
      <div style="border-bottom: 2px solid lightgrey"></div>
      {% endfor %}
    </div>

    <div style="flex: 1;flex-grow: 1;padding-left: 25px">
      <h2 class="dividing">Categories</h2>
      {% for topic in site.topics %}
      <a class="button"
	 style="margin:2px" href="{{ topic.url }}">{{ topic.name }}
      </a>
      {% endfor %}
      
      <br><br>
      <h2 class="dividing">Tags</h2>
      {% for tag in site.tags %}
      <a class="tag" href="{{ category.url }}">#{{ tag[0] }}&nbsp;</a>
      {% endfor %}
    </div>
  </div>

  <script>
    $(document).ready(function( ){
     $('.menu .blog.item').addClass('active');
    });
  </script>