---
layout: home
title: Research
permalink: /research/
---
<h1 style="text-align: center;">{% t global.research %}</h1>

  <p class="relaxed">
    Research Interests:<br>
    &nbsp;&nbsp;&ndash; Topological Data Analysis<br>
    &nbsp;&nbsp;&ndash; Computational Topology<br>
    &nbsp;&nbsp;&ndash; Applied Algebraic Topology<br>
    &nbsp;&nbsp;&ndash; Big Data Analysis<br>
    &nbsp;&nbsp;&ndash; Computational Geometry<br>

    Download my <a href="/assets/cv.pdf" download>academic CV</a>
    and <a href="/assets/research.pdf" download>research statement</a> here.
    <br><br>
    
    The following is a list of my research groups/topics that I am currently
    involved in.
</p>

<section id="projects">
  <div class="header">
    Research Projects    
  </div>
  <div class="two cards">
  {% for project in site.research-projects %}
  <a class="card" href="{{ project.url }}">
  <div class="avatar">
    <img class="image" src="{{ project.image }}">
  </div>
  <div class="content">
    <div class="title">
      {% if project.image %}
      {% endif %}
      {{ project.title }}
    </div>  
  </div>
</a>
{% endfor %}
</div>
</section>

<section id="publications">
  <div class="header">
  Publications
</div>
{% include publications.html %}
</section>

<script>
  $(document).ready(function( ){
   $('.menu .research.item').addClass('active');
  });
</script>