---
layout: home
title: Research
permalink: /research/
---
<h1 style="text-align: center;">{% t global.research %}</h1>
<div class="header">
    Projects    
</div>
<p>
    Research Interests:<br>
    &nbsp;&nbsp;&ndash; Topological Data Analysis<br>
    &nbsp;&nbsp;&ndash; Computational Topology<br>
    &nbsp;&nbsp;&ndash; Applied Algebraic Topology<br>
    &nbsp;&nbsp;&ndash; Big Data Analysis<br>
    &nbsp;&nbsp;&ndash; Computational Geometry<br>
    
    <br>
    My research primarily revolves around the interface of <b>mathematics</b> and
    <b>computer science</b>. More specifically, my research is motivated by
    theoretical problems arising in <b>topological data analysis
    (TDA)</b>, <b>computational and applied algebraic topology</b>,
    and <b>computational geometry</b>. I am also interested to solve real-life
    problems using tools from <b>algebraic topology</b> and
    <b>geometry</b>. My research interest also extends to applying TDA to
    other fields of science and developing computational <b>libraries and
    software</b>.
    <br><br>

    Download my <a href="/assets/cv.pdf" download>academic CV</a>
    and <a href="/assets/research.pdf" download>research statement</a> here.
    <br><br>
    
    The following is a list of my research groups/topics that I am currently
    involved in.
</p>

<div class="">
{% for project in site.research-projects %}
  <div class="">{{ project.title }}</div>
  <a class="ui small red right floated icon button"
     title="Read more" href="{{ project.url }}">
    <i class="right chevron icon"></i>
  </a>
{% endfor %}
</div>

{% include publications.html %}