```{=html}
<div class="list post-items">
  <div class="item" data-categories="VERB,QXBwbGllZCUyMFRvcG9sb2d5,UGF0dGVybiUyME1hdGNoaW5n,Q29tcHV0YXRpb25hbCUyMEdlb21ldHJ5">
    <div class="thumbnail">
      <a href="assets/thesis.pdf"><img src="../images/thesis.svg" class="thumbnail-img"></a>
    </div>
    <div class="body">
      <h5 class="paper-title">Topological Methods in Shape Reconstruction and Comparison</h5>
      <div class="paper-authors">Advised by Carola Wenk</div>
      <div class="paper-venue">
        <span class="venue-name">Tulane University, Mathematics Department</span>
        <span class="venue-sep">&middot;</span>
        <span class="venue-year">2020</span>
      </div>
      <div class="paper-links">
        <a href="../../assets/thesis.pdf">Thesis</a>
      </div>
      <div class="paper-tags">
        <span class="paper-tag" onclick="window.quartoListingCategory('TDA'); return false;">TDA</span>
        <span class="paper-tag" onclick="window.quartoListingCategory('Applied Topology'); return false;">Applied Topology</span>
        <span class="paper-tag" onclick="window.quartoListingCategory('Pattern Matching'); return false;">Pattern Matching</span>
        <span class="paper-tag" onclick="window.quartoListingCategory('Computational Geometry'); return false;">Computational Geometry</span>
      </div>
    </div>
  </div>
</div>
```
