```{=html}
<div class="list custom post-items">
    <div class="item" data-categories="TDA,Applied Topology,Computational
    Geometry,Pattern Matching">
    <div class="thumbnail"><img src="images/thesis.svg" style="width: 70%;border: 1px solid lightgray"></div>
    <div class="body">
    <div class="category"
            onclick="window.quartoListingCategory('TDA'); return false;">TDA</div>
            <div class="category"
            onclick="window.quartoListingCategory('Applied Topology'); return
            false;">Applied Topology</div>
            <div class="category"
            onclick="window.quartoListingCategory('Pattern Matching'); return
            false;">Pattern Matching</div>
            <div class="category"
            onclick="window.quartoListingCategory('Computational Geometry'); return false;">Computational Geometry</div>
    <h5>Topological Methods in Shape Reconstruction and Comparison</h5>  
    <i>Mathematics Department</i>, <i>Tulane University</i>, December 2020<br>
    Link: <a href="assets/thesis.pdf">Thesis</a>
    </div>
    </div>
    </div>
```