<div class="ui basic masthead segment">   
  
  <div class="ui basic segment container" style="padding-top: 5vh;">
    <div class="ui grid">
      <div class="four wide center aligned centered column">
 	<img src="assets/me.JPG" class="ui centered small circular image">
	<br>
	<div class="large only">
	  <a target="_blank" href="https://github.com/sushovan4">
	    <i class="ui large inverted circular github follow icon"></i>
	  </a>
	  <a class="item" target="_blank"
	     href="https://www.linkedin.com/in/smajhi">
	    <i class="ui large inverted blue circular linkedin follow icon"></i>
	  </a>
	  <a class="item" target="_blank"
	     href="mailto:sushovan.majhi08@gmail.com">
	    <i class="ui large inverted red circular mail follow icon"></i>
	  </a>
	</div>
      </div>
      <div class="twelve wide column">
	<h2 class="ui dividing header">	
	  Sushovan Majhi
	  <div class="sub header" style="color:#21ba45">
	    Postdoctoral Fellow, University of California, Berkeley
	  </div>
	</h2>

	<p>I am a math PhD student at Tulane University, USA. I am
	also a freelance software developer. I enjoy solving online coding
	challenges. In my spare time, I read books and play classical
	  guitar. Here is my
	  <a class="styled" href="/assets/resume.pdf" download>R&#201;SUM&#201;</a>.
	</p>
      </div>
    </div>
  </div>
</div>


