<div class="ui basic masthead segment">   
  {% include menu.html %}
 
  <div class="ui container">
    <div class="ui basic center aligned segment">
      <h2 class="ui inverted header">
	Sushovan Majhi
      </h2>
      <img src="assets/me.JPG" class="ui centered small circular image">
      
      <p class="bio">
	<i class="large quote left icon"></i> I am a PhD candidate in
	the mathematics department of Tulane University. I spend most of my time
	solving math and coding problems. I am also involved in a few start-up
	projects. I read books and play classical guitar in my spare time.
	<i class="large quote right icon"></i>
      </p>
      
      <div class="ui horizontal inverted divider">
	FOLLOW ME
      </div>
      <a class="item" target="_blank" href="https://github.com/sushovan4">
	<i class="ui big inverted circular github follow icon"></i>
      </a>
      
      <a class="item" target="_blank"
	 href="https://www.linkedin.com/in/sushovan-majhi-04921815a">
	<i class="ui big inverted circular linkedin follow icon"></i>
      </a>
	
      <a class="item" target="_blank" href="https://www.facebook.com/SushovanMajhi">
	<i class="ui big inverted circular facebook f follow icon"></i>
      </a>

      <div class="ui horizontal inverted divider">
	WRITE TO ME
      </div>
      <div class="ui yellow header">smajhi[at]tulane.edu</div>
      <div class="ui yellow header">sushovanmajhi08[at]gmail.com</div>
    </div>
  </div>
</div>
