<div class="menu">
  <a  href="/" class="home item"><i class="fas fa-2x fa-home"></i></a>
  <a href="/about" class="about item">About</a>
  <a href="/research" class="item">Research</a>
  <a href="/tutorials" class="item">Tutorials</a>
  
  <div class="right">
    <div class="search item">
        <input placeholder="Search">
        <a href="/search" class="submit">
          <i class="fas fa-search"></i>
        </a>
    </div>  
    <div class="search-toggle item">
      <i class="fas fa-search"></i>
    </div>
  
    <div class="dropdown item">
      <div class="dropbtn">
        {% if site.lang == 'en' %}
        {% t global.english %}
        {% else if site.lang == 'bn' %}
        {% t global.bengali %}
        {% endif %} 
        <i class="fa fa-globe"></i>
      </div>
      
      <div class="dropdown-content">
        <a href="{{ site.baseurl_root }}{{ page.url}}" >{% t global.english %}</a>
        <a href="{{ site.baseurl_root }}/bn{{ page.url}}" >{% t global.bengali %}</a>
      </div>
    </div>
    

    <a href="#" class="item"><i class="fas fa-bars"></i></a>
  </div>
</div>