<div class="ui fluid container">
  <div class="ui secondary pointing green menu">
    <a  href="/" class="home item"><i class="ui large home icon"></i></a>
    <a href="https://smajhi.com/blog" class="laptop blog item"><b>Blog</b></a>
    <a href="/about" class="laptop about item"><b>About</b></a>
    
    <div class="right menu">
      <a class="laptop item" href="https://github.com/sushovan4"><i class="github icon"></i></a>
      <a class="laptop item" href="https://facebook.com/SushovanMajhi">
	<i class="facebook f icon"></i>
      </a>
      
      <a class="laptop item" href="https://www.linkedin.com/in/sushovan-majhi-04921815a">
	<i class="linkedin icon"></i></a>
      <div class="ui mobile dropdown item">
	<i class="green bars icon"></i>
	<div class="menu">
	  <a href="/blog" class="item"><b>Blog</b></a>
	  <a href="/about" class="item"><b>About</b></a>
	</div>
      </div>
    </div>
  </div>
</div>
