<div class="ui basic segment" id="publications">
  <div class="ui container">
    <h2 class="ui dividing header">
    <i class="ui green clone icon"></i>PUBLICATIONS
    </h2>
    <p>List of my publications:</p>
    <div class="ui clearing basic segment">
      <div class="ui dividing header">2019</div>
      <p>
	&ndash;, Jeffrey Vitter, and Carola Wenk.
	Approximating Gromov-Hausdorff Distance in Euclidean space, 2019.
	<a class="ui mini right floated red button"
	   href="https://arxiv.org/abs/1912.03134"><tt>PDF</tt></a>
      </p>

      <div class="ui dividing header">2018</div>
      <p>
	Brittany&nbsp;Terese Fasy, Rafal Komendarczyk, &ndash;, and Carola Wenk.
	On the Reconstruction of Geodesic Subspaces of <em>R</em><sup>n</sup>,
	2018.	<a class="ui mini right floated red button"
	   href="https://arxiv.org/abs/1810.10144"><tt>ARXIV</tt></a>
      </p>
      <div class="ui divider"></div>
      <p>
	Brittany Terese Fasy, &ndash;, Carola Wenk. Threshold-Based Graph
	Reconstruction Using Discrete Morse Theory, In <em>Fall Workshop on
	Computational Geometry</em>, New York, NY, October 2018. <br>
	<a class="ui mini right floated red button"
		   href="https://arxiv.org/abs/1911.12865"><tt>PDF</tt></a>
      </p>

      <div class="ui dividing header">2017</div>
      <p>
	Brittany&nbsp;Terese Fasy, Rafal Komendaczyk, &ndash;, and Carola Wenk.
	Topological Reconstruction of Metric Graphs in <em>R</em><sup>n</sup>.
	In <em>Fall Workshop on Computational Geometry</em>, New York, NY,
	October 2017. <br>
	<a class="ui mini right floated red button"
	   href="https://arxiv.org/abs/1912.13008"><tt>ARXIV</tt></a>
      </p><br>

    </div>
  </div>
</div>
