<div class="ui basic segment" id="publications">
  <div class="ui container">
    <h2 class="ui dividing header">
    <i class="ui green clone icon"></i>PUBLICATIONS
    </h2>
    <p>List of my publications:</p>
    <div class="ui clearing basic segment">
      <div class="ui dividing header">2019</div>
      <p><fullcite>majhi2019approximating</fullcite></p>

      <div class="ui dividing header">2018</div>
      <p><fullcite>fasy2018reconstruction</fullcite></p>
      <div class="ui divider"></div>
      <p><fullcite>fw18</fullcite></p>
      
      <div class="ui dividing header">2017</div>
      <p><fullcite>fw17</fullcite></p>
    </div>
  </div>
</div>
