      <div class="timeline">
        <div class="item" data-year="2020">
          <p><a class="styled" href="/thesis.html">PhD Thesis</a>, published on <i>ProQuest</i>.</p>
        </div>
        
        <div class="item" data-year="2019">
          <p><fullcite>majhi2019approximating</fullcite></p>
        </div>

        <div class="item" data-year="2018">
          <p><fullcite>fasy2018reconstruction</fullcite> submitted to <i>Journal of Computational Geometry</i></p>
          <div class="ui divider"></div>
          <p><fullcite>fw18</fullcite></p>
        </div>

        <div class="item" data-year="2017">
          <p><fullcite>fw17</fullcite></p> 
        </div>
      </div>
