<div class="ui basic segment" id="research">
  <div class="ui container">
    <h2 class="ui dividing header">
    <i class="ui green clone icon"></i>RESEARCH
    </h2>
    <p>
      Research Interests:<br>
      &nbsp;&nbsp;&ndash; Topological Data Analysis<br>
      &nbsp;&nbsp;&ndash; Computational Topology<br>
      &nbsp;&nbsp;&ndash; Applied Algebraic Topology<br>
      &nbsp;&nbsp;&ndash; Big Data Analysis<br>
      &nbsp;&nbsp;&ndash; Computational Geometry<br>
      
      <br>
      My research primarily revolves around the interface of <b>mathematics</b> and
      <b>computer science</b>. More specifically, my research is motivated by
      theoretical problems arising in <b>topological data analysis
      (TDA)</b>, <b>computational and applied algebraic topology</b>,
      and <b>computational geometry</b>. I am also interested to solve real-life
      problems using tools from <b>algebraic topology</b> and
      <b>geometry</b>. My research interest also entends to applying TDA to
      other fields of science and developing computational <b>libraries and
      software</b>.
      <br><br>

      Download my <a class="styled" href="/assets/cv.pdf" download>ACADEMIC CV</a>
      and <a class="styled" href="/assets/research.pdf" download>RESEARCH
      STATEMENT</a> here.
      <br><br>
      
      For my PhD thesis, I am working under the supervision of
      <a class="styled" href="https://cs.tulane.edu/~carola">Prof. Carola
      Wenk</a> at Tulane University and <a class="styled"
      href="https://www.cs.montana.edu/brittany/">Brittany Terese Fasy</a> at
      Montana State University.
      <br><br>

      The follwing is a list of my research groups/topics that I am currently
      involved in.
    </p>
    
    <div class="ui raised segments">
      {% for project in site.research-projects %}
      <div class="ui clearing segment">
	<div class="ui header">{{ project.title }}</div>
	<a class="ui small red right floated icon button"
	   title="Read more" href="{{ project.url }}">
	  <i class="right chevron icon"></i>
	</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
