<div class="header">
Software Projects
</div>
    <p class="">I am a coding hobbyist. I enjoy solving online coding
      challenges. Although <a class="styled"
      href="https://www.java.com/en/">Java</a><i class="red coffee circular
      icon"></i> is my favorite programming language, I also code in <a href=""
      class="styled"><tt>JavaScript</tt></a>, <a href=""
      class="styled"><tt>Ruby</tt></a>. I develop softwares both for academia
      and industry. Some of them are listed here.
    </p>

    <div class="ui raised segments">
      {% for project in site.software-projects %}
      <div class="ui segment">
	<div class="ui stackable grid">
	  <div class="six wide column">
	    <div class="ui header">
	      <img class="ui {{ project.avatar-size }} image" src="{{ project.avatar }}"/>
	      {{ project.title }}
	    </div>
	    <a href="{{ project.web-link }}">
	      <i class="ui large linkify icon"></i>
	    </a>
	    {% if project.git-link %}
	    |
	    <a href="{{ project.git-link }}">
	      <i class="ui large github icon"></i>
	    </a>
	    {% endif %}
	  </div>
	  <div class="ten wide column">
	    <p>{{ project.content }}</p>
	  </div>	  
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
