<div class="ui basic segment" id="soft-projects" style="margin-bottom: 0">
  <div class="ui container">
    <h2 class="ui dividing header">
      <i class="ui green clone icon"></i>Software Projects
    </h2>
    <p class="sub header">I am a coding hobbyist. Here are some of my projects.</p>

    <div class="ui raised segments">
      {% for project in site.coding-projects %}
      <div class="ui segment">
	<div class="ui stackable grid">
	  <div class="six wide column">
	    <div class="ui header">
	      <img class="ui {{ project.avatar-size }} image" src="{{ project.avatar }}"/>
	      {{ project.title }}
	    </div>
	    <a href="{{ project.web-link }}">
	      <i class="ui large linkify icon"></i>
	    </a>
	    {% if project.git-link %}
	    |
	    <a href="{{ project.git-link }}">
	      <i class="ui large github icon"></i>
	    </a>
	    {% endif %}
	  </div>
	  <div class="ten wide column">
	    <p>{{ project.content }}</p>
	  </div>	  
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
