<div class="ui basic segment" id="teaching">
  <div class="ui container">
    <h2 class="ui dividing inverted header">
      <i class="ui green clone icon"></i>TEACHING
    </h2>
    <p style="color: white">
      Alongside my research and course work, I enjoy teaching mathematics and
      statistics courses at <a class="styled" href="https://tulane.edu">Tulane University</a>.
      Here is a list of my courses.
    </p>
    
    <div class="ui raised segments">
      {% for course in site.teaching %}
      <div class="ui segment">
	<div class="ui header">
	  {{ course.title }}
	</div>
	<span class="disabled">{{ course.place }} | {{ course.time }}</span>
	<p>{{ course.description }}</p>
      </div> 
      {% endfor %}
    </div>
  </div>
</div>
