<div class="header">
  Teaching
</div>
<p>
  Download my <a class="styled" href="/assets/teaching.pdf"
	download>TEACHING STATEMENT</a> here.

  <br>
  List of some of the courses I taught:
</p>
    
<!-- <div class="ui raised segments">
      {% for course in site.teaching %}
      <div class="ui segment">
	<div class="ui header">
	  {{ course.title }}
	</div>
	<span class="disabled">{{ course.place }} | {{ course.time }}</span>
	<p>{{ course.description }}</p>
      </div> 
      {% endfor %}
    </div>
  </div>
</div> -->
