<p>
  I had been a big fan of <a
  href="https://en.wikipedia.org/wiki/Beamer_(LaTeX)">Beamer</a> for
  quite some time. Who wouldn't be when it comes to presenting slides full of
  math symbols? Although the math looked fancy and the audience was happy, the
  <a href="https://en.wikipedia.org/wiki/LaTeX">$\LaTeX$</a>-based framework had
  also disappointed me quite often. I found the framework too restrictive to
  customize; my slides looked exactly like others'!
      
  <br><br> Features, that were lacking in Beamer during the time I broke up with
  it, were shining in
  <a href="https://revealjs.com/">RevealJS</a>. Since then, I have been
  using it, customizing it, and relishing it.
  <br><br>
  List of my talks and presentations:
</p>

{% assign sorted = (site.talks | sort: 'date') | reverse %}
  <div class="timeline">
    {% for talk in sorted %}
    <div class="item" data-year="2000">
    
      <b>{{ talk.title }}</b><br>
      
      <div>
      {{ talk.place }} |
      <span  class="disabled">{{ talk.date | date: "%B %d, %Y" }}</span> 
      </div>
    
      <br>
    
      <div>{{ talk.abstract | truncate: 200 }}</div>
    
      {% if talk.pdf %}
      <a href="{{ talk.pdf }}" download>
        <i class="fas fa-1x fa-file-pdf"></i>
      </a>
      {% endif %}

      {% if talk.link %}
      <a href="{{ talk.link }}" class="ui mini red icon button">
	      <i class="fas fa-link"></i>
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>