<p>
  I had been a big fan of <a
  href="https://en.wikipedia.org/wiki/Beamer_(LaTeX)">Beamer</a> for
  quite some time. Who wouldn't be when it comes to presenting slides full of
  math symbols? Although the math looked fancy and the audience was happy, the
  <a href="https://en.wikipedia.org/wiki/LaTeX">$\LaTeX$</a>-based framework had
  also disappointed me quite often. I found the framework too restrictive to
  customize; my slides looked exactly like others'!
      
  <br><br> Features, that were lacking in Beamer during the time I broke up with
  it, were shining in
  <a href="https://revealjs.com/">RevealJS</a>. Since then, I have been
  using it, customizing it, and relishing it.
  <br><br>
  List of my talks and presentations:
</p>

{% assign talks_by_year = (site.talks | sort: 'date') | reverse | group_by_exp: "item", "item.date | slice: 0, 4 "%}
<!-- {% assign sorted =  %} -->
<div class="timeline">
    {% for group in talks_by_year %}
    <div class="item" data-year="{{ group.name }}">
      {% for talk in group.items %}
      <div class="talk">
        <b>{{ talk.title }}</b><br>
      
        <div>
        {{ talk.place }} |
        <span  class="disabled">{{ talk.date | date: "%B %d, %Y" }}</span> 
        </div>
    
        <br>
    
        <div>{{ talk.abstract  }}</div>
    
        {% if talk.pdf %}
        <a href="{{ talk.pdf }}" download>
          &lt;PDF&gt;
        </a>
        {% endif %}

        {% if talk.link %}
        <a href="{{ talk.link }}">
	        &lt;LINK&gt;
        </a>
        {% endif %}
      </div>
      {% unless forloop.last %}<hr>{% endunless %}
      {% endfor %}
    </div>
    {% endfor %}