<!doctype html>
<html>
  <head>
    {% include gtag.js %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {% t global.name %}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/math.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/f1f57ed00b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include menu.html %}
 
    <div class="container">
      {{ content }}
    </div>
    {% include footer.html %}

    <script src="/js/homepage.js"></script>
    <script src="/js/math.js"></script>
  </body>
</html>

