<!doctype html>
<html>
  <head>
    {% include gtag.js %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Sushovan  Majhi</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/math.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/f1f57ed00b.js" crossorigin="anonymous"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    {% include menu.html %}

    <div class="container">
      <div style="margin: 10px;background-color: rgba(256,0,0, 0.7);
      padding: 15px;color: rgba(256,255,255, 1);border-radius: 3px;font-size: 1.2em;">
        <i class="fas fa-2x fa-exclamation-triangle"></i>
        The  site is under serious construction! Please watch your step.
      </div>
    
      {{ content }}
    </div>
  {% include footer.html %}
  <script src="/js/homepage.js"></script>
    <script src="/js/math.js"></script>
  </body>
</html>

