---
base_title: Sushovan Majhi
---
<!doctype html>
<html>
  <head>
    {% if page.title=='Blog' %}
    {% include gtag_blog.js %}
    {% else %}
    {% include gtag.js %}
    {% endif %}   
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Sushovan Majhi</title>
    <link rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/math.css">
    <link rel="stylesheet" type="text/css"
	  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous">
    </script>
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>    
    <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css"/>
  </head>
  <body>
    {% unless page.masthead %}
    <div class="ui inverted basic segment" style="margin: 0">
      {% include menu.html %}
    </div>
    {% endunless %}

    <div class="main content">{{ content }}</div>
    {% include footer.html %}

  
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript"
	    src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/math.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
  </body>
</html>

