---
layout: home
---
<div class="ui basic container segment">
  <div class="ui big breadcrumb">
    <a href="/#research" class="section"><i class="green home icon"></i></a>
    <div class="divider"> / </div>
    <div class="section">Research Projects:
    <div class="active section">{{ page.title }}</div>
  </div>
</div>

<div class="ui basic container segment">
  <br>
  <h1 class="ui dividing header">{{ page.title }}</h1>
  {{ content }}
</div>

<div class="ui basic container segment">
  <h3 class="ui dividing header">References</h3>
  <div class="ui refs grid"></div>
</div>


